    <section id="form-container">
        <form id="retrieveCodeVlidation">
            {% csrf_token %}
            <label for="rcv">کد تایید : </label>
            <div class="input-container">
                <input name="rcv" type="number" placeholder="کد تایید را وارد کنید">
            </div>
            <button id="submit-arrow" type="button" class="submit-btn">بررسی کد تایید</button>
            <button id="retrieveCodeValidationBtn" type="button" class="submit-btn"></button>
        </form>
    </section>